.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    border-radius: 5px;
    padding-top: 10px;
    width: 275px;
}

.card--art {
    width: 250px;
}


