.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding-top: 10px;
    width: 275px;
    background-color: #F6F1F1;
    color:#19A7CE;
}

.card--art {
    width: 250px;
}


