* {
    padding: 0;
    margin: 0;
}

.playspace{
    padding-left: 30px;
    padding-top: 30px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background-color: #146c94;
}